.Rproj.*
*.Rproj
.Rproj
.Rproj.user/978F23C7/sources/prop/EDA6488D
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/978F23C7ECEAAE42/chunks.json
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/c8gsmzm4k5pc0/000002.csv
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/c8gsmzm4k5pc0/000003.metadata
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/c8gsmzm4k5pc0/000003.rdf
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/chunks.json
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cl8bm549gzqep/000003.metadata
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cl8bm549gzqep/000003.png
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cl8bm549gzqep/000003.snapshot
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cpr8ywuno4hx8/000002.csv
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cpr8ywuno4hx8/000003.metadata
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cpr8ywuno4hx8/000003.rdf
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cs7mo4ezurkpe/000002.csv
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cs7mo4ezurkpe/000003.metadata
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/cs7mo4ezurkpe/000003.rdf
.Rproj.user/shared/notebooks/F1089670-acs_2020_chicago/1/s/csetup_chunk/000002.csv
.Rproj.user/978F23C7/sources/s-ECEAAE42/27CDCB48
.Rproj.user/978F23C7/sources/s-ECEAAE42/27CDCB48-contents
.Rproj.user/978F23C7/sources/s-ECEAAE42/lock_file
.Rhistory
.Rproj.user
